<% provide :title, "Help" %>
<h1><%= t ".help" %></h1>
<h1 class="mb-40"><%= t ".help" %></h1>
<p>
  <%= t ".text_help1" %>
  <a href="http://www.railstutorial.org/#help"><%= t ".text_help2" %></a>.
  <%= t ".text_help3" %>
  <a href="http://www.railstutorial.org/book"><%= t ".text_help4" %></a>.
</p>
