<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-right">
          <li class="nav-item"><%= link_to t(".home"), root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t(".help"), help_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to t(".sign_up"), "#", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "English", locale:"en", class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Vietnamese", locale:"vi", class: "nav-link"  %></li>
        </ul>
      </nav>
  </div>
</header>
