<header class="navbar navbar-fixed-top navbar-inverse bg-dark">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
      <nav>
        <ul class="nav navbar-right">
            <li class="nav-item"><%= link_to t(".home"), root_path, class: "nav-link" %></li>
            <li class="nav-item"><%= link_to t(".help"),   help_path, class: "nav-link" %></li>
            <% if logged_in? %>
              <li><%= link_to "Users", '#',class: "nav-link"  %></li>
              <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><%= link_to "Profile", current_user %></li>
                <li class="dropdown-item"><%= link_to "Settings", '#' %></li>
                <li class="divider"></li>
                <li class="dropdown-item">
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
          <% else %>
            <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
          <% end %>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                Language <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-item"><%= link_to "English", locale: "en" %></li>
                <li class="dropdown-item"><%= link_to "Vietnamese", locale: "vi" %></li>
              </ul>
            </li>
        </ul>
      </nav>
  </div>
</header>
